build
docs
vendor

.idea

*.log
*.sql
*.sqlite

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.phpunit.cache
coverage
.php-cs-fixer.cache
.phpunit.result.cache
.vscode/settings.json
coverage.xml
logfile.xml
plantuml.1.2023.7.jar

.vscode/launch.json
hosts-backup
